*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    position: relative;
}
.obj-width{
    max-width: 1200px;
    margin: auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 1rem;
}
nav{
    background-color: #162634;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    z-index: 90;
}

.navbar .logo{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 2.2rem;
    /* display: flex;
    align-items: center; */
}
.logo-div img{
    height: 4rem;
    width: 4rem;
    margin-right: 15px;
    border-radius: 10px;
    /* margin-right: 1rem; */
}
.logo-div{
    /* text-align: center; */
    display: flex;
    align-items: center;
}
#search-input{
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}
#search-btn{
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
margin-left: 10px;
    
    transition: all linear 0.2s;
}
#search-btn:hover{
    transform: scale(1.1);
}
#blog-container{
    padding: 3rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.blog-card{
    width: 280px;
    border: 1px solid #7c848a;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    padding: 1rem;
    transition: all linear 0.2s;
}
.blog-card:hover{
    transform: scale(1.04);
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.4);
}

.blog-card img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.blog-card p{
    padding-top: 0.5rem;
    font-size: 1.2rem;
}
@media(max-width: 703px) {
    .navbar .logo {
       
        font-size: 1.8rem;
    }
    #search-input {
        width: 180px;
        padding: 10px 10px;
      
    }
    #search-btn {
        
        padding: 10px 10px;
        font-size: 18px;
        border-radius: 5px;
        
        margin-left: 5px;
        
    }
    .blog-card{
        width: 100%;
    }

}

@media(max-width: 560px) {
    .navbar{
        display: block;
       
        text-align: center;
    }
    .logo-div{
       justify-content:center;
    }
    .search-container{
        margin: 15px;
    }
    

}

